A-(\\101)
A-(\\x65)
alert-(\\a)
all.do
backslash-(\\\\)
backspace-(\\b)
carriage-return-(\\r)
default.do
double-quote-(\\")
escape-(\\e)
form-feed-(\\f)
horizontal-tab-(\\t)
newline-(\\n)
percent-(%%)
produce-no-further-output-(\\c)
vertical-tab-(\\v)
ā-(\\u00000101)
ā-(\\u0101)
